.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 1rem 0;
  grid-column: 1/4;
}
@media(max-width: 700px){
  .titulo{
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
}