.menu {
  grid-column: 3 / -1;
  margin: 2rem 0;
  background: #ffbb55;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.875rem;
}

@media(max-width: 700px) {
  .menu {
    grid-column: 1;
    margin: 0;
  }
}